/* Corps principal */
:root {
    --vx-background: url('https://zupimages.net/up/24/44/d8hp.gif');

    --successcolor: 59, 165, 92;
}

.vx-background {
	--card-primary-bg: var(--vx-background);
    --status-positive: rgb(var(--successcolor));
}
